.meus-filmes{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meus-filmes h1{
    margin-bottom: 14px;
}

.meus-filmes span{
    font-size: 18px;
}

.meus-filmes ul{
    width: 720px;
}

.meus-filmes ul li{
    list-style: none;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.meus-filmes div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.meus-filmes div a{
    margin-right: 14px;
    text-decoration: none;
}

button{
    background-color: rgb(223, 220, 220);
    border: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: rgb(180, 10, 10);
}

.detalhes{
    font-weight: 500;
    color: black;
    transition: 0.3s;
}

.detalhes:hover{
    font-weight: bolder;
}